body {
	background-color: green;
	color: red;
	background-image: url("hard_drive+keyboard.jpg");
	font-style: italic;
	font-family: cursive;
}
h1 {
	color: blue;
	text-decoration: underline;
	font-style: normal;
	font-size: 40 px;
}